/* globales */

:root {
  --primary: #CB6CE6;
  --secondary: #FFFF;
  --dark: #b262c9;
}

body {
  background: var(--secondary);
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary);
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--dark);
}

img {
  max-width: 100%;
}

.txt-center {
  text-align: center;
}

.imagen {
  height: 15rem;
  background-image: url("../../img/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Alertas */
.alerta {
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.alerta.error {
  background-color: rgb(184, 8, 8);
}

.alerta.exito {
  background-color: rgb(7, 156, 19);
}

@media (min-width: 768px) {
  .container-app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }

  .imagen {
    height: auto;
  }
}

.app {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}



.boton {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.boton:hover {
  background-color: var(--dark);
  cursor: pointer;
}

#nombreCliente {
  color: var(--dark);
}

/* Formulario login */
.formulario {
  width: 100%;
  margin-bottom: 1rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;

}

.campo label {
  flex: 0 0 5rem;

}

.campo input {
  flex: 1;
  border: none;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 2rem;
}

@media(min-width: 768px) {
  .campo {
    align-items: center;
  }

  .campo label {
    flex: 0 0 10rem;
  }
}


/* Formulario citas */
.campo input:disabled {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: not-allowed;
}

.seccion {
  display: none;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}


/* Tabs */

@media(min-width: 768px) {
  .tabs {
    display: flex;
  }
}

.tabs button {
  background-color: var(--primary);
  border: none;
  color: var(--secondary);
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 300ms ease;
}

.tabs button:hover {
  cursor: pointer;
}

.tabs .actual {
  background-color: var(--secondary);
  color: var(--primary);
}

/* Paginacion */
.paginacion {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.ocultar-paginador {
  visibility: hidden;
}

/* Servicios */
.servicio {
  background-color: var(--secondary);
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  transition-property: transform;
  transition-duration: 300ms;
  text-align: center;
  margin-bottom: 1rem;
  border: 2px solid gainsboro;
}

.servicio:hover {
  transform: scale(1.1);
}

.servicio .precio-servicio {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.servicio .nombre-servicio {
  margin: 0;
}

.servicio.seleccionado {
  background-color: var(--primary);
}

.servicio.seleccionado p {
  color: var(--secondary);
}

@media(min-width: 768px) {

  .servicio {
    background-color: var(--secondary);
    color: black;
    padding: 10px;
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
    text-align: left;
    margin-bottom: 5px;
  }

  .listado-servicios {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
  }

}

/* Resumen Cita */

.contenido-resumen span {
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
}

.contenido-resumen p {
  margin-bottom: 10px;
}

.contenedor-servicios {
  border-bottom: 1px solid gainsboro;
}

/* Cerrar sesion  */

.barra {
  margin-bottom: 2rem;
}

.barra .boton {
  background-color: var(--primary);
  margin: 0;
}

@media(min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/* Citas admin */
.listado-citas {
  padding: 1rem;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}

.citas {
  list-style: none;
  padding: 0;
}

.citas li {
  border-top: 1px solid var(--secondary);
}

.citas p {
  font-weight: bold;
  color: var(--primary);
}

.citas span {
  font-weight: 400;
  color: black;

}

.servicioCita {
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 2px solid gainsboro;
}

/* Servcios admin */
.contenedor-datos {
  text-align: center;
}

.servicio-admin {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary);
}

@media(min-width: 768px) {
  .contenedor-datos {
    display: flex;
  }

  .servicio-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;

  }
}

.precio-servicio {
  margin-left: 5px;
}

.btn-editar {
  padding: 0.5rem;
  background-color: #D52084;
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.btn-editar:hover {
  cursor: pointer;
}

.btn-eliminar {
  padding: 0.5rem;
  background-color: #891046;
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  border: none;

}

.btn-eliminar:hover {
  cursor: pointer;
}


/* Modal */
.modal {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
}

.modal .actualizar-servicio {
  max-width: 80%;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  transform: translateY(10rem);
  transition-property: transform;
  transition-duration: 300ms;
}

.actualizar-servicio h2 {
  color: var(--secondary);
}

.actualizar-servicio .campo label {
  color: var(--secondary);
}

@media(min-width: 768px) {
  .modal .actualizar-servicio {
    max-width: 50%;
  }
}

.opciones {
  display: flex;
  justify-content: space-between;
}